/*---------------------------------------------------------------------*/
/* GRUNDEINSTELLUNGEN */
/*---------------------------------------------------------------------*/

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    font-size: 105px;
    text-align: left;
}

h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 64px;
    font-weight: 800;
    justify-content: center;
    text-align: center;
}  

h3 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    font-size: 40px;
    justify-content: center;
}

p {
    font-family: "Mulish", sans-serif;
    font-size: 23px;
    justify-content: center;
}

/*---------------------------------------------------------------------*/
/* INTRO-SECTION */
/*---------------------------------------------------------------------*/

.intoSection {
    background: var(--Background-Intro, linear-gradient(180deg, #000101 0%, #001F32 61%));
    padding: 50px 250px;
    position: relative; /* Positionierung für Pseudoelemente */
    overflow: hidden;
}

.intoSection::before {
    content: "";
    background-image: url("/images/ladesaeule.png");
    background-size: contain; /* Passt das Bild an die Größe des Pseudo-Elements an */
    background-repeat: no-repeat; 
    background-position: right center; /* Positioniert das Bild rechts zentriert */
    position: absolute; /* Positioniert das Pseudo-Element relativ zum Eltern-Element */
    top: 0;
    right: 0; /* Positioniert das Pseudo-Element rechts */
    width: 100%; /* Passt die Breite des Pseudo-Elements an */
    height: 100%; 
    z-index: 1; /* Stellt sicher, dass das Pseudo-Element hinter dem Inhalt liegt */
}

.haupttitel {
    color: white;
    text-align: left;
    position: relative;
    z-index: 2; /* Stellt sicher, dass der Text über dem Bild liegt */
}

.einstiegsFakten {
    color: white;
    text-align: right;
    position: relative;
    z-index: 2; /* Stellt sicher, dass der Text über dem Bild liegt */
}

.faktTexthintergrund {
    position: relative;
    background-color: #001F32;
    display: inline; 
    padding: 0 5px;
}

.einstiegsFakt1 {
    background-image: url("/images/steckerWeissLangNeu.png");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: -670px; /* Verschiebt das Bild (Kabel) horizontal */
    padding-right: 770px; /* Verschiebt den Text horizontal */
}

.einstiegsFakt2 {
    background-image: url("/images/steckerWeissLangNeu.png");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: -770px; /* Verschiebt das Bild (Kabel) horizontal */
    padding-right: 770px; /* Verschiebt den Text horizontal */
}

.einstiegsFakt3 {
    background-image: url("/images/steckerWeissLangNeu.png");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: -550px; /* Verschiebt das Bild (Kabel) horizontal */
    padding-right: 750px; /* Verschiebt den Text horizontal */
}


/*---------------------------------------------------------------------*/
/* MIDDLE-SECTION */
/*---------------------------------------------------------------------*/

.middleSection {
    justify-content: center;
    gap: 20px;
    padding: 50px 250px;
}

.middleSectionText{
    padding: 20px 0px;
    text-align: center;

}

/*---------------------*/
/* Adressen-Dropdown */
/*---------------------*/





/*---------------------*/
/* Button */
/*---------------------*/

.buttonsAlleZeitraeume {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    display: flex;
    width: 224.572px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


/*---------------------*/
/* Legende */
/*---------------------*/

.legend {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    font-family: "Mulish", sans-serif;
}

#verfuegbarkeit {
    font-size: 18px;
}

.legendItem {
    display: flex;
    align-items: center;
    font-weight: normal;
    flex-shrink: 0;
}

.legendColorbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 2px; 
    border: 0.25px solid #000;
    font-size: 20px;
}

/*---------------------------------------------------------------------*/
/* JOURNALISM-SECTION */
/*---------------------------------------------------------------------*/

.journalismusTextboxen {
    display: flex;
    flex-direction: row; /* Boxen nebeneinander */
    justify-content: space-between; /* Platz zwischen den Boxen */
    gap: 20px;
}

.journalismusTextboxLinks, .journalismusTextboxRechts {
    flex: 1; /* Beide Boxen nehmen gleich viel Platz ein */
    padding: 30px; /* Padding innerhalb der Boxen */
    box-sizing: border-box; /* Padding wird in die Breite einbezogen */
    background: var(--Background-Intro, linear-gradient(180deg, #001F32 0%, #000101 61%));
    color: white;
    border-radius: 20px; 
    position: relative; /* Positionierung für Pseudoelemente */
}